<launch>
    <arg name="urdf_directory"   default="$(find deepersense_main_pkg)/cfg/"/>

    <node pkg="deepersense_waterfall_gen_pkg"   type="waterfall_ros_node"    name="waterfall_preprocess_node"   output="screen">
        <param name="urdf_directory" type="str"  value="$(arg urdf_directory)"/>
    </node>

</launch>
